@import "../../node_modules/node-normalize-scss/_normalize.scss";

body {
  background: #b4bfbe;
  transition: background 0.5s ease;
}

.blue {
  background: #67AEB7;
}

.turquise {
  background: #6489AF;
}

.green {
  background: #69BD83;
}